* {
  margin: 8px;
  padding: 0;
  background-color: #1f2937;

  color: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}
.hero-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

#btn {
  background: #3882f6;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 20px;
  cursor: pointer;
}
