* {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #1f2937;
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#hero-text {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

#secondary-text {
  font-size: 18px;
  color: #f9faf8;
}

#btn {
  background: #3882f6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
